/* start style.css */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,400;0,500;0,600;0,700;0,800;1,200;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    font-family: 'MuseoModerno', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

:root {
    --font-family: 'Permanent Marker', cursive;

    --text-color: #ffffff;
    --bg-color: #56baed;

    --font-weight: bold;
    --p-font: 1.1rem;
    --h1-font: 3rem; 
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    padding: 50px 10%;
    display: flex;
}

span {
    color: var(--bg-color);
}

.game {
    background-color: var(--text-color);
    font-weight: var(--font-weight);
    border: 2px solid #000000;
    font-size: var(--h1-font);
    border-radius: 12px;
    padding: 15px;
    width: 400px;

}

.title {
    background-color: var(--text-color);
    border: 2px solid var(--bg-color);
    margin-bottom: 20px;
    border-radius: 12px;
    text-align: center;
    color: #000;
}

.all-box .box-3 {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    display: grid;
}

.all-box .box-3 div {
    background-color: var(--text-color);
    border: 2px solid var(--bg-color);
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #000000;
    display: flex;
    height: 100px;
    margin: 10px;
    width: 100px;
}

.all-box .box-3 div:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
}